<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cwx.serviceedu.mapper.EduCourseMapper">

    <select id="getCoursePushlishInfo" resultType="com.cwx.serviceedu.entity.vo.CoursePublishVo">
        select ec.id as id, ec.title as title, ec.price as price,
        ec.lesson_num as lessonNum, cover, et.`name` as teachName,
        es1.title as subjectLevelOne, es2.title as subjectLevelTwo
        from edu_course ec
        left join edu_subject es1
        on ec.subject_id = es1.id
        left join edu_subject es2
        on ec.subject_parent_id = es2.id
        left join edu_teacher et
        on ec.teacher_id = et.id
        where ec.id = #{id}
    </select>
</mapper>
